.clipped-text {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-button {
    background-color: #ff4d4d;
    /* Reddish background color */
    color: #ffffff;
    /* White text */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor will change to hand on hover */
    text-align: center;
    /* Center-aligned text */
    display: inline-block;
    /* Makes the button inline */
    font-size: 16px;
    /* Font size */
    margin: 4px 2px;
    /* Margin around the button */
    transition: background-color 0.3s;
    /* Smooth transition for background color change */
}

.delete-button:hover {
    background-color: #cc0000;
    /* Darker red when hovering */
    color: #ffffff;
    /* White text */
}

.hidden {
    display: none;
}